.single-field {
    cursor: hand;
    width: 90%;
    height: 90%;
    display: block;
    margin: 5% auto;
    transition: .3s;
    background-color: $color-grey;

    &:hover {
        background-color: darken($color-grey, 15%);

    }
}