.single-field {
    cursor: hand;
    width: 90%;
    height: 90%;
    display: block;
    margin: 5% auto;
    transition: .5s;
    background-color: $color-grey;
    text-decoration: none;

    &:hover {
        background-color: darken($color-grey, 15%);

    }
}

.btn-start,
.btn-revenge {
    background-color: $color-grey-light;
    border: 1px solid $color-grey;
    color: $color-grey-dark;
    font-size: 16px;
    font-weight: 600;
    width: 120px;

    padding: 10px 0;
    cursor: pointer;
    margin: 15px auto 0;
}