.background-box {
    background-image: url("../../images/bg2_01.jpg");
    background-size: contain;
    padding: 50px;

}
.header-title {
    background-color: #f1eedf;
    padding: 10px;
    margin: 0 -15px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}