.game-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
}
.game-field {
    width: 120px;
    height: 120px;
    background-color: #D4D2CD;
    margin: 6px;
}
