//colors
$color-grey-light: #f1eedf;
$color-grey: #D4D2CD;
$color-grey-dark: #374546;

$color-white: #ffffff;
$color-black: #000000;

//breakpoints

$bg-xs-min: 320px;
$bg-xs-max: 390px;

$bg-md-min: 391px;
$bg-md-max: 650px;

$bg-lg-min: 651px;
$bg-lg-max: 1200px;
